/* MAIN STYLES */

body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

ul {
  list-style: none;
  display: flex;
  padding-left: 0;
}

li {
  cursor: pointer;
}

a {
  color: #202124;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

/* a:active {
  color: #609;
} */

/* HEADER */

header {
  margin: 1.6rem 1rem;
  display: grid;
  grid-template-columns: 10rem auto 10rem;
  grid-template-areas: "google search account";
  align-items: center;
  margin-bottom: 0;
}

img[alt="google-logo"] {
  width: 6rem;
  height: 2rem;
  grid-area: google;
  cursor: pointer;
}

header form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header form input {
  border: none;
  outline: none;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.search-bar {
  grid-area: search;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  width: 100%;
  border-radius: 40px;
  color: rgba(0, 0, 0, 0.87);
  border: solid 1px rgba(0, 0, 0, 0.1);
  outline: none;
}

.search-bar:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

svg {
  width: 28px;
  height: 28px;
  cursor: pointer;
  margin: 0 0.3rem;
}

#nav-cross {
  padding-right: 0.5rem;
  border-right: 2px solid rgb(226, 222, 222);
}

.navbar-right {
  grid-area: account;
  justify-content: flex-end;
  align-items: center;
}

.popup {
  width: 6rem;
  height: 1.6rem;
  background-color: black;
  position: absolute;
  display: inline-block;
  color: white;
  font-size: 0.8rem;
  padding: 0.6rem 0.2rem 0;
  /* left: 65%;
  top: 51%; */
}

/* MAIN SEARCH */

.main-search {
  display: grid;
  grid-template-columns: 10rem auto 10rem;
  grid-template-areas: ". choices";
  border-bottom: 2px solid rgb(226, 222, 222);
  color: #5f6368;
}

.main-search ul {
  align-items: center;
  margin-bottom: 0;
}

.main-search svg {
  height: 1.3rem;
}

.main-search li {
  margin: 0 0.7rem;
  padding-bottom: 0.6rem;
}

.main-search li[class="choice-active"] {
  padding-bottom: 0.35rem;
}

.search-choice {
  grid-area: choices;
  display: flex;
  justify-content: space-between;
}

.choice-active {
  border-bottom: 4px solid #1a73e8;
  color: #1a73e8;
}

/* MAIN PAGE */

main {
  margin-left: 10rem;
  width: 65%;
}

main h3 {
  color: #1a0dab;
  font-weight: normal;
  font-size: 1.45rem;
  margin: 0.6rem 0;
}

main p {
  margin: 0 0 2rem;
}

main #result-number {
  color: #70757a;
  margin-top: 1rem;
}

.first-result {
  margin-top: 2rem;
}

/* VIDEOS */

.fa-caret-square-right {
  margin-right: 1rem;
  color: #70757a;
}

.first-result + h3 {
  color: #202124;
}

.video {
  border: 2px solid rgb(226, 222, 222);
  border-radius: 8px;
  padding: 1rem;
}

iframe {
  border-radius: 8px;
}

/* .search-choice > ul > li {
  color: red;
} */
