/******** MAIN STYLES *********/

body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

p {
  line-height: 1.4rem;
}

ul {
  list-style: none;
  display: flex;
  padding-left: 0;
}

li {
  cursor: pointer;
}

a {
  color: #202124;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #1a0dab;
  text-decoration: underline;
}

.scroll-shadow {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

/******** HEADER *********/

nav {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

header {
  margin: 1.6rem 1rem;
  display: grid;
  grid-template-columns: 10rem 50% auto;
  grid-template-areas: "google search account";
  align-items: center;
  margin-bottom: 0;
}

img[alt="google-logo"] {
  width: 6rem;
  height: 2rem;
  grid-area: google;
  cursor: pointer;
}

header form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header form input {
  border: none;
  outline: none;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.search-bar {
  grid-area: search;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  width: 100%;
  border-radius: 40px;
  color: rgba(0, 0, 0, 0.87);
  border: solid 1px rgba(0, 0, 0, 0.1);
  outline: none;
}

.search-bar:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

svg {
  width: 28px;
  height: 28px;
  cursor: pointer;
  margin: 0 0.3rem;
}

#nav-cross {
  padding-right: 0.5rem;
  border-right: 2px solid rgb(226, 222, 222);
}

.navbar-right {
  grid-area: account;
  justify-content: flex-end;
  align-items: center;
}

.popup {
  width: 6rem;
  height: 1.6rem;
  background-color: black;
  text-align: center;
  position: absolute;
  display: inline-block;
  color: white;
  font-size: 0.8rem;
  padding: 0.6rem 0.2rem 0;
  left: 53%;
  top: 51%;
}

.navbar-right svg {
  border-radius: 50%;
  padding: 0.2rem;
}

.navbar-right svg:hover {
  background-color: rgb(233, 230, 230);
}

/******** SEARCH *********/

.main-search {
  display: grid;
  grid-template-columns: 10rem 50% auto;
  grid-template-areas: ". choices";
  border-bottom: 2px solid rgb(226, 222, 222);
  color: #5f6368;
  font-size: 0.8rem;
}

.main-search ul {
  align-items: center;
  margin-bottom: 0;
}

.main-search svg {
  height: 1.3rem;
}

.main-search li {
  margin: 0 0.7rem;
  padding-bottom: 0.6rem;
}

.main-search li[class="choice-active"] {
  padding-bottom: 0.35rem;
}

.search-choice {
  grid-area: choices;
  display: flex;
  justify-content: space-between;
}

.search-choice a:hover {
  text-decoration: none;
}

.choice-active {
  border-bottom: 4px solid #1a73e8;
  color: #1a73e8;
}

/******** MAIN *********/

main {
  margin-left: 10rem;
  width: 50%;
}

main h3 {
  color: #1a0dab;
  font-weight: normal;
  font-size: 1.45rem;
  margin: 0.2rem 0;
}

main p {
  margin: 0 0 2rem;
}

main #result-number {
  color: #70757a;
  margin-top: 1rem;
}

.result {
  margin-top: 2rem;
}

.result h5 {
  font-size: 1rem;
  margin: 0.6rem 0;
}

/******** VIDEOS *********/

.fa-caret-square-right {
  margin-right: 1rem;
  color: #70757a;
}

h5 {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.video {
  border: 2px solid rgb(226, 222, 222);
  border-radius: 8px;
}

.video > div {
  display: flex;
  padding: 1rem;
  border-bottom: 2px solid rgb(226, 222, 222);
  padding-bottom: 0;
}

.video > div:nth-child(3) {
  border-bottom: none;
}

.video img {
  width: 150px;
  height: 100px;
  border-radius: 8px;
}

.video-info {
  padding: 0 1rem;
}

.video-info h3 {
  margin-top: 0;
  font-size: 1.2rem;
}

.video-info p {
  margin: 0.8rem 0;
}

.view-all {
  border-radius: 40px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 0.3rem 0.6rem;
  color: #1a0dab;
  position: relative;
  top: 1.2rem;
  background-color: white;
  cursor: pointer;
}

.view-all:hover {
  background: #fafafa;
}

.view-all p {
  margin: 0 auto;
  padding: 0;
}

.video a:last-child:hover {
  text-decoration: none;
}

/******** PEOPLE ASK *********/

.people-ask {
  border: 2px solid rgb(226, 222, 222);
  border-radius: 8px;
}

.people-ask h3,
.people-ask p {
  color: rgba(0, 0, 0, 0.87);
  padding: 1rem;
  border-bottom: 2px solid rgb(226, 222, 222);
}

.people-ask p {
  font-size: 1.2rem;
  margin: 0;
}

/******** BUILD IMAGES *********/

.fa-image {
  margin-right: 1rem;
  color: #70757a;
  font-size: 1.5rem;
}

.build-image {
  border-bottom: 2px solid rgb(226, 222, 222);
  width: 100%;
}

.build-image li {
  border-radius: 40px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 0.7rem;
  margin: 0 0.2rem;
}

.build-image li:hover {
  background: #fafafa;
}

.build-image img {
  width: 10rem;
  height: 9rem;
}

.build-image a:last-child:hover {
  text-decoration: none;
}

.build-image .slider {
  height: 8rem;
  display: flex;
  overflow: hidden;
}

#slider-svg {
  position: absolute;
  left: 57.5%;
  top: 242%;
  border: 2px solid rgba(32, 33, 36, 0.28);
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-radius: 50%;
  background-color: rgba(255, 249, 249, 0.75);
  padding: 0.4rem;
}

/******** ALSO SEARCH *********/

.also-search {
  border: 2px solid rgb(226, 222, 222);
  border-radius: 8px;
}

.search-drop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  cursor: pointer;
}

.search-drop > img {
  width: 2.5rem;
  display: none;
}

.search-drop p {
  margin: 1rem;
  font-size: 1.2rem;
}

.search-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 0.8rem;
}

.search-card div {
  border: 2px solid rgb(226, 222, 222);
  border-radius: 8px;
  margin: 0.3rem;
  width: 7.2rem;
  height: 9.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.search-card p {
  margin: 0.5rem 0;
}

.search-card p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.see-more {
  border-radius: 40px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0.8rem auto;
  padding: 0.3rem 0.6rem;
  color: #1a0dab;
}

.see-more:hover {
  background: #fafafa;
}

.see-more p {
  margin: 0 auto;
  padding: 0;
}

.also-search a:last-child:hover {
  text-decoration: none;
}

/******** RELATED SEARCH *********/

.related-search {
  display: flex;
}

.related-search div {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.related-search a {
  color: #1a0dab;
  font-weight: 600;
  padding: 0.4rem 0;
}

.related-search a:hover {
  text-decoration: none;
}

/******** GOOOOGLE *********/

.gooogle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.gooogle span {
  margin: 0 1rem;
  font-size: 1.5rem;
  color: #4285f4;
}

.google-numb {
  width: 40%;
  margin: 0.1rem auto;
  text-align: center;
  color: #4285f4;
  margin-bottom: 2rem;
}

.google-numb span:first-child {
  color: black;
  cursor: default !important;
}

.google-numb span:hover {
  text-decoration: underline;
}

.google-numb span:first-child:hover {
  text-decoration: none;
}

/******** FOOTER *********/

footer {
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
}

footer p,
footer ul {
  border-top: solid 1px #dadce0;
  padding: 0.8rem 10rem;
  margin: 0;
}

footer li {
  margin: 0 0.5rem;
}

footer li:hover {
  color: #3c4043;
}
